<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/tzFAboMUGJKoPQEtlxfxbbYsSWa.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Minions 2: A Origem de Gru</h1>
          <p>30/06/2022 - 1h 27m</p>
          <p>Infantil</p>

        </div>

      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>76%</ion-label>
      </ion-chip>
    </ion-item>


    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/6OEBp0Gqv6DsOgi8diPUslT2kbA.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Thor: Amor e Trovão (2022)</h1>
          <p>07/07/2022 - 1h 59m</p>
          <p>Ação, Aventura, Fantasia
          </p>

        </div>

      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>68%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>

